SUPABASE_URL=https://coghrwmmyyzmbnndlawi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvZ2hyd21teXl6bWJubmRsYXdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzY4NjAyMzIsImV4cCI6MjA1MjQzNjIzMn0.TqSt8BDML0yLvcJWIG-2bcF6PieMqAep3b_VTAkpHDs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvZ2hyd21teXl6bWJubmRsYXdpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNjg2MDIzMiwiZXhwIjoyMDUyNDM2MjMyfQ.k6Ph8cmIytKibPe1u6MlPdDlQn8CyohefIRAAQ6Qp5k
FRONTEND_URL=http://localhost:3000